# Vercel Postgres — copy dari Vercel Dashboard > Storage > Database > .env.local
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# JWT Secret — ganti dengan string random panjang di production
JWT_SECRET=garasin_jwt_secret_ganti_ini_di_production
